/* Button.css */
.fancy-button {
  width: 9em;
  position: relative;
  height: 3em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: #149cea;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.fancy-button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: white;
  transition: 0.5s;
  transform-origin: center;
}

.fancy-button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: white;
  transition: 0.5s;
}

.fancy-button:hover::before,
.fancy-button:hover::after {
  transform: scale(0);
}

.fancy-button:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
}
