@font-face {
  font-family: Poppins;
  src: url("../src/assets/font/Poppins-Regular.ttf");
}
@font-face {
  font-family: Satisfy;
  src: url("../src/assets/font/Satisfy-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../src/assets/font/Roboto-Regular.ttf");
}
@font-face {
  font-family: Vazir;
  src: url("../src/assets/fonts/Vazirmatn-Black.ttf");
}
@font-face {
  font-family: VazirBold;
  src: url("../src/assets/fonts/Vazirmatn-Bold.ttf");
}
@import "tailwindcss";

@theme {
  --font-Poppins: Poppins, "sans-serif";
  --font-Roboto: Roboto, "sans-serif";
  --font-Satisfy: Satisfy, "sans-serif";
  --font-Vazir: Vazir, "sans-serif";
  --font-VazirBold: VazirBold, "sans-serif";
  --color-primary: #00adf1;
  --color-secondary: #2e3192;
  --color-tertiary: #f4a91a;
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}
@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  /* background-color: oklch(0.987 0.022 95.277); */
  font-family: Vazir;
  scroll-behavior: smooth;
}

/* .clip-diagonal-left {
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
}

.clip-diagonal-right {
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
} */

.pattern-bg {
  width: 100%;
  height: 100%;
  position: relative;
  border: #000 solid 1px;
  background: #fff;
  filter: contrast(7);
  --mask: linear-gradient(red, rgba(0, 0, 0, 0.45));
}

.pattern-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(#000, transparent) 0 0 / 1em 1em space;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  z-index: 0;
}

/* index.css or a global stylesheet */
.clip-diagonal-left {
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
}

.clip-diagonal-right {
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
}

.swiper-button-next,
.swiper-button-prev {
  color: #02db81;
}
.swiper-pagination-bullet-active {
  background-color: #02db81;
}
